.btn{

    &.btn-primary{
        background-color:$color-primary;
        border-color:$color-primary;

        &:not(:disabled):not(.disabled):active{
            background-color:$color-accent-primary;
            border-color:$color-accent-primary;
        }
    }

    &.btn-secondary{
        background-color:$color-accent-primary;
        border-color:$color-accent-primary;
    }
}