$color-primary: #653f0f;
$color-secondary: #3a2409;
$color-accent-primary: #f4e175;
$color-accent-secondary: #f4c975;

$color-black:rgba(0,0,0,0.8);

$light-theme-main:#FFFADC;
$dark-theme-main:$color-primary;
