// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Predefined Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Colors
$color-primary: #653f0f;
$color-secondary: #3a2409;
$color-accent-primary: #f4e175;
$color-accent-secondary: #f4c975;

$color-black:rgba(0,0,0,0.8);

$light-theme-main:#FFFADC;
$dark-theme-main:$color-primary;

